<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DaveMcKeown.TidyTabs.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DaveMcKeown.TidyTabs.Properties.Settings>
      <setting name="TabTimeoutMinutes" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PurgeStaleTabsOnSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TabCloseThreshold" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxOpenTabs" serializeAs="String">
        <value>0</value>
      </setting>
    </DaveMcKeown.TidyTabs.Properties.Settings>
  </userSettings>
</configuration>